  <section class="content" id="about">
      <div class="block-content">
          <h3 class="block-title">Perfil</h3>
          <h3 class="subheading">¡Hola! soy Arturo Rainahuel <strong>Desarrollador de Software BackEnd/FrontEnd</strong></h3>
          <p>Actualmente me dedico a desarrollar aplicaciones web tanto en front end (angular) y back end (nodeJs, Spring boot), me encanta
            estar en constante aprendizaje y perfeccionando mis habilidades! </p>
          <div class="info-list row">
              <div class="col-sm-6"><span>Nombre: </span> Arturo Rainahuel</div>
              <div class="col-sm-6"><span>Dirección: </span> Chile, Santiago, Puente Alto.</div>
              <div class="col-sm-6"><span>Email: </span> arturo.x@live.com </div>
              <div class="col-sm-6"><span>Telefono: </span> + 569 5406 6286</div>
              <div class="col-sm-6"><span>Interes: </span> Practico mucho deporte enfocado al mundo fitness. </div>
          </div>
      </div>
      <div class="block-content">
          <h3 class="block-title">Profesional/habilidades </h3>
          <div *ngFor="let habilidades of Habilidades">
            <label class="progress-bar-label">{{ habilidades.nombre }}</label>
            <div class="progress">
                <div [style.width.%]=habilidades.valor class="progress-bar" role="progressbar" attr.aria-valuenow="{{ habilidades.valor }}" aria-valuemin="0" aria-valuemax="100">
                    <span>{{ habilidades.valor }}%</span>
                </div>
            </div>
        </div>
      </div>

  </section>
